*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: rgba(33, 37, 41, 1);
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
}
body{
    max-width: 1440px;
    height: auto;
    margin: auto;
    padding: 1% 3%;
    background: rgba(255, 255, 255, 1);
}
.head{
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 21.09px;
}
.logo{
    width: 50%;
}
.logo img{
    width: 70px;
    height: 74.38px;
}
.head_button{
    width: 24px;
    height: 12px;
    background: url(img/Line_big.png)top/100% auto no-repeat, url(img/Line_big.png)center/100% auto no-repeat, url(img/Line_small.png)bottom right/60% auto no-repeat;
    display: none;
}
.main{
    margin-bottom: 40px;
    height: 1107px;
    background: url(img/fon_left.png) left bottom/30% auto no-repeat, url(img/fon_right.png) right bottom/50% auto no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content:flex-start;
    line-height: 21.09px; 
}
h1{
    font-family: 'Helvetica';
    font-size: 72px;
    line-height: 86.4px;
    width: 50%;
}
.main p{
    height: 60%;
    width: 25%;
    padding-top: 50px;
    font-size: 20px;
    line-height: 28px;
}
.main_sell{
    height: 100%;
    padding-top: 15%;
    text-decoration: underline;
    line-height: 21.09px;
    text-align: end;
}
h2{
    font-family: 'Helvetica';
    font-size: 48px;
    line-height: 66.24px;
    text-align: left;
}
h3{
    font-family: 'Helvetica';
    font-size: 36px;
    line-height: 49.68px;
}
.main_comfort{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 50px;
    height: 589px;
}
.main_comfort_head{
    width: 50%;
    height: 100%;
}
.main_comfort_list1{
    width: 50%;
    
}
.main_comfort_list1 p, .main_comfort_list2 p{
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 22.4px;
    text-align: left;
}
.main_comfort_list2{
   width: 20%;
    padding-top: 20px;
}
.main_about{
    height: 980px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 50px;
}
.main_about_head{
    width: 50%;
    height: 100%;
}
.main_about_head>p{
    width: 25%;
    font-size: 16px;
    text-align: left;
}
.main_about_head_list{
    width: 50%;
    height: 80%;
}
.main_about_head_list_table{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-top: 20px;
    padding-bottom: 10px;
        
}
.main_about_head_list_table p{
    font-size: 16px;
    text-align: left;
    width: 45%;
}
.main_about_head_list_table h3{
    width: 50%;
}
.main_project{
    height: 1278px;
}
main_project_img1{
    background: url(img/project_1.png)
}